-# Parameters:
-#   nc_ballot_request: an instance of NcBallotRequest
-# 

= simple_form_for nc_ballot_request do |form|

  - n = nc_ballot_request.name || Name.new
  = form.fields_for :name, n do |nf|
    = render "shared/name_fields", form: nf

  = form.input :ssn_four
  = form.input :license_number

  = form.input :birthdate, start_year: Date.today.year - 110

  %h3 Registered mailing address
  - ra = nc_ballot_request.registered_address || Address.new
  = form.fields_for :registered_address, ra do |raf|
    = render "shared/address_fields", form: raf

  %h3 Current mailing address
  - ca = nc_ballot_request.current_address || Address.new
  = form.fields_for :current_address, ca do |caf|
    = render "shared/address_fields", form: caf

  = form.submit "Request that ballot!"