- skip_assets ||= false

- unless skip_assets
  = render "shared/base_64_assets", document_name: document_name

.document{ class: document_name }
  - doc.attributes.each_pair do |field, value|
    - if field.ends_with? "_id"
      - child = doc.send(field.chomp("_id").to_sym)
      - next if child.blank?
      - bonus_class = ""
      - bonus_class = "foreign" if field.include? "address" and child.try(:is_abroad?)
      %div{ class: "#{field.chomp("_id")} #{bonus_class}" }
        - child.attributes.each_pair do |subfield, subvalue|
          .positioned{ class: subfield }
            = render_value(subvalue)
        .positioned.auxiliary-tick.tick-1 &times;
        .positioned.auxiliary-tick.tick-2 &times;
    - else
      .positioned{ class: field }
        = render_value(value)
