.color-immersion.full-screen.default
  .content
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .section
        %h2.thin Sign in
      = render "devise/shared/flash_errors"
      .section
        = f.input :email, autofocus: true, wrapper_html: { class: 'span-6' }
        = f.input :password, wrapper_html: { class: 'span-6' }
        = f.input :remember_me, as: :boolean, wrapper_html: { class: 'span-12' } if devise_mapping.rememberable?
      .section
        .field.span-4
          = f.button :submit, "Sign in"
    = render "devise/shared/links"
